body {
  background: black;
  color: #b07637;
  font-family: Tahoma, Geneva, sans-serif;
  max-width: 900px;
}

header {
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #b07637;
}
a:hover {
  background-color: #333;
  transition: .4s;
}
h3{
    color: #883615;
}
nav {
  line-height:40px;
}

nav ul, footer ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 2px solid #285271;
  border-radius: 5px;
}

nav li {
  display: inline;
}

nav a {
  padding: 10px .4em;
  width: 100%;
  font-weight: bold;
}
nav .active a{
    color: #883615;
    pointer-events: none;
    cursor: default;
}

.main {
  min-height: 200px;
  max-width: 600px;
  padding: .5em 0;
  font-size: 1.25em;
}

footer{
 font-size: .8em;
}
footer li{
    padding: .3em;
  }
